<div class="small-6 small-centered small-centered columns">
  <div class="panel">

<section class="newmessage">
  <h2> Send a new message </h2>
    <%= render 'form' %>
</section>
<%= link_to 'Back', messages_path %>
</div>
</div>

