
<%= render 'common/flash' %>
<!-- <section class="user-show"> -->
  <div class="small-6 small-centered small-centered columns">
  <div class="panel">
<div class="showuser">

<%= image_tag @user.avatar.url(:medium) %>

  <%= render 'info' %>

<!-- </section> -->
</div>
</div>
</div>
