<%= render 'common/flash' %>
<section class="user-show">

  <%= render 'info' %>

  <%# else %>
    <% if current_user == @partner %>
    <div class="matches">
      <%# if @requests.any? %>
        <%= render 'requests' %>
      <%# end %>
      <%# if current_user.matches.any? %>
        <%= render 'partners' %>
      <%# end %>
    </div>
    <%# end %>
  <% end %>
</section>
