// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activityshow {
  padding: 50px 30px 50px 30px;
  background-color: white;
  margin: 0 auto;
  width: 300px;
  height: 550px

    h2{
      color:#0099cc;
    }
}

.index h3 {
  color:green;
}

.index {
  // clear: both;
  // text-align: center;
  .activity-button{
    width: 200px;
    height:200px;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    letter-spacing: 1px;
  }
  .activity-button{
    font-size: 30pt;
    font-weight: bold;
    margin: 80px 0 0 20px;
  }
  #hiking{
    color: #fff;
    background-image: url('hiking.jpg');
  }
  #hiking:active{
    top: 3px;
  }
  #running{
    color: #5D87E8;
    background-image: url('running.jpg');
  }
  #running:active{
    top: 3px;
  }
  #yoga{
    color: #000;
     background-image: url('yoga.jpg');
  }
  #yoga:active{
    top: 3px;
  }
  #rock-climbing{
    color: #fff;
     background-image: url('rock-climbing.jpg');
  }
  #rock-climibing:active{
    top: 3px;
  }
  #biking{
    color: #fff;
      background-image: url('biking.jpg');
  }
  #biking:active{
    top: 3px;
  }
  #tennis{
    color: #fff;
     background-image: url('tennis.jpg');
  }
  #tennis:active{
    top: 3px;
  }
  #kayaking{
    color: #fff;
     background-image: url('kayaking.jpg');
  }
  #kayaking:active{
    top: 3px;
  }
    #soccer{
    color: #fff;
     background-image: url('soccer.jpg');
  }
  #soccer:active{
    top: 3px;
  }

  #football{
    color: #fff;
     background-image: url('football.jpg');
  }
  #football:active{
    top: 3px;
  }
  #basketball{
    color: #fff;
     background-image: url('basketball.jpg');
  }
  #basketball:active{
    top: 3px;
  }

}
