/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
 body {
  background: url(http://photos2.meetupstatic.com/photos/event/7/2/1/e/highres_14849214.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}


#footer {
  background-color: #33cc5c;
  color: white;
  clear: both;
  width: 100%;
  bottom: 0;
  height: 20%;
  text-align: center;
  position: fixed    ;
  p {
    margin-bottom: 0;
  }
}


.panel {
  text-align: center;
  background: rgba(164,179,87,1);
  background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,0.41) 45%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(45%, rgba(117,137,12,0.41)));
  background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,0.41) 45%);
  background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,0.41) 45%);
  background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,0.41) 45%);
  background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,0.41) 45%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
  color: white;
}

a:link {color: white; text-decoration: underline; }
a:active {color: #0000ff; text-decoration: underline; }
a:visited {color: white; text-decoration: underline; }
a:hover {color: #ff0000; text-decoration: none; }

.partnerinfo{
  color: white;
}

.button2{
  width:200px;
  height:50px;
}

ul{
    list-style-type: none;
}

.newmessage, .inbox {
  font-size: 10pt;
    h3 {
    color: white;
  }
}


.recieved, .sent {
  color:white;
  text-align: inline;
}

.messages{
  color:white;
}

label {
  font-size: 14px;
  color: white;
}
