/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
 body {
  background: url(http://photos2.meetupstatic.com/photos/event/7/2/1/e/highres_14849214.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}



#footer {
  background-color: black;
  color: white;
  clear: both;
  width: 100%;
  bottom: 0;
  height: 100%;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

.panel {
  text-align: center;
}
/*
.custom-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:orange,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:20px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );
}*/

