/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

 body, html {
  min-height: 100%;
 }
 body {
  background: url(http://photos2.meetupstatic.com/photos/event/7/2/1/e/highres_14849214.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}

.wrapper {
  min-height: calc(100vh - 70px);
}
#footer {
  background-color: #33cc5c;
  color: white;
  clear: both;
  width: 100%;
  bottom: 0;
  height: 70px;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}


.panel {
  text-align: center;
background: rgba(98,125,77,1);
background: -moz-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(51,204,51,0.47) 99%, rgba(51,204,51,0.46) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,125,77,1)), color-stop(99%, rgba(51,204,51,0.47)), color-stop(100%, rgba(51,204,51,0.46)));
background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(51,204,51,0.47) 99%, rgba(51,204,51,0.46) 100%);
background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(51,204,51,0.47) 99%, rgba(51,204,51,0.46) 100%);
background: -ms-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(51,204,51,0.47) 99%, rgba(51,204,51,0.46) 100%);
background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(51,204,51,0.47) 99%, rgba(51,204,51,0.46) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#33cc33', GradientType=1 );
color: white;
}

a:link {color: white; text-decoration: none; }
a:active {color: #0000ff; text-decoration: underline; }
a:visited {color: white; text-decoration: none; }
a:hover {color: #ff0000; text-decoration: underline; }

.partnerinfo p {
  color: white;
}

h2, h4, p {
  color:white;
}

.button2{
  width:200px;
  height:50px;
}

ul{
    list-style-type: none;
}

.newmessage, .inbox {
  font-size: 10pt;
    h3 {
    color: white;
  }
}


.recieved, .sent {
  color:white;
  text-align: inline;
}

.messages{
  color:white;
}

label {
  font-size: 14px;
  color: white;
}
