<div class="row">
  <div class="small-6 top-left small-centered columns">
</div>
<div class="panel callout radius">
<section class="activity-form">
  <%= form_for @activity do |f| %> <br>
    <%= f.text_field :name %><br>
    <%= f.submit 'Create activity' %>
  <% end %>
</section>
</div>
</div>
