<section class="index">
  <div class="panel">
    <div>
      <h3> Choose your favorite outdoor activity: </h3>
      <% @activities.each do |activity| %>
        <div class = "activity-button" id="<%= activity.name.downcase.split.join %>">
        <%= button_to activity.name, user_activities_path(activity_id: activity, user_id: current_user) %>
      </div>
      <% end %>
    </div>
  </div>
</section>
