<section class="index">
  <h1> Choose your favorite outdoor activity: </h1>
  <% @activities.each do |activity| %>
    <a href="<%= activity_path(activity)  %>">  <div class = "activity-button" id="<%= activity.name.downcase.split.join %>">
        <%= activity.name.upcase %>
      </div>
    </a>
  <% end %>
</section>
